<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sentiment-Analysis</title>
        <style>
            body {
                margin: auto;
                width: 640px; 
                padding: 50px;
                font-family: 'Lexend Deca', sans-serif; 
                color: #2E475D;    
            }
        </style>
       <!-- <link type="text/css" rel="stylesheet", href="templates/css/welcome.css"> -->
    </head>
    <body>
            <h1 style="color: blue;">Sentiment-Analysis</h1>
            <form method="post", action="/analyse">
                Choose method to analyse sentence: <br>
                <input type="radio" id="option1" name="choice" value="sentiment" required>
                Sentiment-Analysis <br>
                <input type="radio" id="option2" name="choice" value="emotion" required>
                Emotion Detection<br>
                Enter sentence: <input  id="text_input" type="text" name="text_input" required><br>
                <input type="submit"value="Analyse Sentence" >
            </form>
    </body>
</html>